/**/.git/
/**/.idea/
/**/.yarn/
/**/node_modules/
/**/.DS_Store
/**/*.gz
/**/*.md
/**/.DS_Store
/**/.pnp.*
/**/.tsbuildinfo
/.vscode/settings.json
/packages/
/*.iml
/.attach_pid*
/.eslintcache
/LICENSE
/yarn.lock
/yarn-error.log
